<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma për Fjalëkalimin</title>
    <link rel="stylesheet" href="../css/adminStyle.css">
</head>
<body>

   <center>
        <form action="/administration" method="post">
            <label for="password">Fjalëkalimi:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>
